body{
   background: url("../../img/bg.jpg") repeat fixed #ddd;
   font-family: Arial;
   font-size: 16px;
   line-height: 22px;
}
.navbar{
   text-transform: uppercase;
   position: fixed;
   z-index: 9999;
   margin-left: 9%;
}

.back-to-top {
   cursor: pointer;
   position: fixed;
   bottom: 20px;
   right: 20px;
   display:none;
}